# Description: Template for the .env file
# Usage: Copy this file to .env and fill in the values

OWNER_ID=
DEV_TOKEN=''
OPENAI_API_KEY=''
DISCORD_TOKEN=''
DEEZER_ARL=''
ARL_COUNTRY=''
SPOTIFY_USERNAME=''
SPOTIFY_PASSWORD=''
SPOTIPY_CLIENT_ID=''
SPOTIPY_CLIENT_SECRET=''
SPOTIPY_REDIRECT_URI=''