.env
.venv
.DS_Store
__pycache__
output

logs.log
deemix/config/spotify/cache.json
deemix/config/spotify/config.json
deemix/config/queue
deemix/config/logs
deemix/config/spotify/.auth-cache

deemix/vc_config/spotify/cache.json
deemix/vc_config/spotify/config.json
deemix/vc_config/queue
deemix/vc_config/logs
deemix/vc_config/spotify/.auth-cache

kusho.py
bot/temp.py
credentials.json
.cache
