.env
.venv
__pycache__
bot/output
bot/logs.log
bot/config/spotify/cache.json
bot/config/spotify/config.json
bot/config/queue
bot/config/logs
bot/config/spotify/.auth-cache

bot/vc_config/spotify/cache.json
bot/vc_config/spotify/config.json
bot/vc_config/queue
bot/vc_config/logs
bot/vc_config/spotify/.auth-cache