py-cord == 2.6.0
protobuf==3.20.*
requests
spotipy>=2.11.0
requests
bs4
python-dotenv
yt-dlp
openai
spotipy
librespot

# Deemix dependencies
click 
pycryptodomex
deezer-py
mutagen
PyNaCl

# If you get error even though you have Microsoft visual C++, install it afterwards. 
# apnggif

# .venv\Scripts\activate.bat
# pip install -r requirements.txt --no-cache-dir
# pip install apnggif